# Fichier de configuration pour le répertoire / 
RewriteEngine On
# Permet de récupéréer les valiableGET
Options -MultiViews     
RewriteRule   login/([a-z]+)                                        createLogin.php?lang=$1 [L]
RewriteRule   securite/([a-z]+)                                     indexcaptcha.php?lang=$1 [L]
RewriteRule   contact/([a-z]+)                                      createContact.php?lang=$1 [L]
#ADMINNATIONNAL
RewriteRule   graph/([a-z]+)                                        graph.php?lang=$1 [L]
RewriteRule   liste/([a-z]+)                                        adminListe.php?lang=$1 [L]
RewriteRule   libelle/([a-z]+)                                      gestionlibelle.php?lang=$1 [L]
RewriteRule   admin/([a-z]+)/([a-zA-Z]+)                            admin.php?lang=$1&msgserveurpays=$2 [L]
#COMPTES
RewriteRule   compteadmin/([a-z]+)                                  gestioncompte.php?lang=$1 [L]
RewriteRule   moncompte/([a-z]+)                                    moncompte.php?lang=$1 [L]
RewriteRule   compte/([a-z]+)                                       indexchoix.php?lang=$1 [L]
#RewriteRule   recherchecompte/([a-z]+)                              ctrlcompte.php?lang=$1 [L]
#EXPORTS
RewriteRule   exportTousutilisateur/([a-z]+)                        exportTousUtilisateur.php?lang=$1 [L]
RewriteRule   exportutilisateur/([a-z]+)                            exportUtilisateur.php?lang=$1 [L]
RewriteRule   exportprojet/([a-z]+)                                 exportBilanProjet.php?lang=$1 [L]
RewriteRule   exportdonneebrute/([a-z]+)                            exportdesProjetsBrute?lang=$1 [L]

#ACCUEIL
RewriteRule   home/([a-z]+)                                         indexchoix.php?lang=$1 [L]
RewriteRule   index/([a-z]+)/([a-zA-Z]+)                            index.php?lang=$1&action=$2 [L]

#PROJET
RewriteRule   new_request/([a-z]+)                                  createProjet.php?lang=$1   [L]
RewriteRule   new_project/([a-z]+)                                  creerprojetphase2.php?lang=$1 [L]
RewriteRule   projet_centrale/([a-z]+)/([A-Z]+)                     VueSuiviProjetCentrale.php?lang=$1&centrale=$2  [L]
RewriteRule   mes_projets/([a-z]+)                                  VueSuiviProjet.php?lang=$1 [L]

RewriteRule   resultats/([a-z]+)                                    controlerecherche.php?lang=$1 [L]
RewriteRule   projet_centrale/([a-z]+)                              VueSuiviProjetTousCentrales.php?lang=$1 [L]

RewriteRule   validation_projet/([a-z]+)                            VueSuiviTousProjet.php?lang=$1&centrale=$2 [L]
RewriteRule   delete_projet/([a-z]+)                                deleteprojets.php?lang=$1   [L]
RewriteRule   recherche_projet/([a-z]+)                             porteurprojet.php?lang=$1   [L]
RewriteRule   projet_porteur/([a-z]+)                               ctrlporteur.php?lang=$1   [L]

RewriteRule   recherche_porteur/([a-z]+)/([0-9]+)                   porteurprojet.php?lang=$1&idprojet=$2   [L]
RewriteRule   projet_affecte/([a-z]+)/([0-9]+)/([a-z]+)             porteurprojet.php?lang=$1&idutilisateur=$2&messagedejaaffecte=$3   [L]
RewriteRule   projet_affecteerreur/([0-9]+)                         porteurprojet.php?lang=$1&messageerreur   [L]
RewriteRule   affecte_projet/([a-z]+)/([0-9]+)                      ctrlporteur.php?lang=$1&idutilisateur=$2    [L]
RewriteRule   delete_projet/([a-z]+)						    																						deleteprojets.php?lang=$1    [L]
RewriteRule   delete_projet/([a-z]+)/([A-Z\-]+)([0-9]+)													deleteprojets.php?lang=$1&projetdeletenum=$2		   [L]
