<h5 style="page-break-before:always;display: none">.</h5>
<style type="text/css">
    table{ vertical-align: top;width:100%;font-size: 9pt;font-family: helvetica;line-height: 2mm;};
    strong{color:#000;};
    p{margin: 0;padding: 0;font-size: 18px;font-weight: bold;color: darkblue};
    hr{height:1px;background: #5D5D5E;border:none};
    th{font-size: 14px;font-weight: bold;color: darkblue};
</style>
<div class=Section1>
<table  align="center" style="text-align: center">
     <tr>
        <td>
            <p>PROJECT WITHOUT DEVELOPMENTS SUPPORTED BY THE RENATECH NETWORK</p>
            <p>YEAR ##ANNEE##</p>
        </td>        
     </tr>        
     <br>
</table>
<table border="1" style="width:100%"> 
<tr>
    <th style="width: 25.3%;height: 35px" >Project </th>   
    <th style="width:12.3%;">BTR Platform</th> 
    <th style="width: 22.5%;">Project leader / Entity /Town</th> 
    <th style="width: 15.4%;"> Activities supported </th>
    <th style="width: 27%;"> Thematics </th>
</tr>
</table>
</div>